.home {
  height: 100vh;
  background-color: #def7e5;
}
.home-conteudo {
  padding-top: 100px;
  display: flex;
}

.home-texto {
  text-align: center;
  width: 50%;

  /* background-color: red; */
}
.home-texto h1 {
  /* text-transform: capitalize; */
  font-weight: 400;
  font-size: 60px;
  margin-top: 30vh;
}
.home-texto h1 span {
  color: rgba(209, 69, 34, 0.911);
}
.home-texto h1 span:hover {
    color: rgba(209, 69, 34, 0.164);
     
}
.home-texto div {
  display: flex;
  justify-content: center;
}
.home-imagem {
  width: 50%;
  /* background-color: green; */
  /* height: 50px; */
}
.home-imagem img {
  height: 80vh;
}

.home-imagem img:hover {
    transition: ease-in-out 0.8s;
    transform: scale(1.1);
  }
.home-btn {
  display: block;
  text-decoration: none;
  height: 40px;
  width: 250px;
  color: black;
  font-size: 20px;
  font-weight: 500;
  background-color: #fff;
  border: solid 2px  #222;
  padding: 10px 5px;
  margin: 20px;
  border-radius: 10px;
}
.home-btn:hover {
  color: #fff;
  background-color: #92E3A9;
  border: solid 2px #fff;
  /* transform: scale(1.1); */
  transition: ease-in-out 0.5s;
}
