nav {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid #fff;
}

.menu-lista {
  width: 80%;
  margin: 0 auto;
  display: flex;
  list-style: none;
  justify-content: space-between;
  padding: 10px 0;
}
.menu-lista :hover {
  /* padding: 0 30px ; */
  transform: scale(1.05);
  /* transition: 1s; */
}

.menu-item a {
  font-size: 30px;
  font-weight: 700;
  color: #111;
  text-decoration: none;
  /* transition: 0.2s; */
  /* animation-delay: 5s; */
}
.menu-item a:hover {
  color: rgb(146,227,169);
  border-bottom: 3px solid rgb(146,227,169)
  /* transform: scale(2); */
}


.em-contrucao{
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 80px;
}
.em-contrucao h1{
  padding: 100px;
}

.sobre {
  background-color: rgba(30, 63, 172, 0.61);
  height: 100vh;
  /* background-image: url("../img/informatica_banner.png"); */
  /*background-image: url("../img/informatica_banner.png");
  background-size: cover;
  background-repeat: no-repeat;*/
}
.sobre-conteudo {
  padding-top: 100px;
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.projetos {
    background-color: rgba(156, 30, 172, 0.281);
    height: 100vh; 
  }

  .projetos-conteudo {
    padding-top: 100px;
    width: 80%;
    margin: 0 auto;
    
  }


.contato {
    background-color: rgba(163, 172, 30, 0.281);
    height: 100vh; 
  }
