@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #000;
  background-color: #ffffff;
  /* background-image: url("https://images.unsplash.com/photo-1511300636408-a63a89df3482?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom right;  */
}

nav {
  /* position: fixed; */
  width: 100%;
  background-color: #dddddd;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px 0;
  /* padding-top: 10px; */
  /* padding-bottom: 10px; */
  /* color: whitesmoke; */
  /* font-weight: 500; */
  /* font-size: 20px; */
  /* font-family: "Verdana"; */
  /* background-color:#92E3A9; */
  /* transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1); */
}
nav :hover {
  background-color: #bbb;
}
nav ul li a {
  font-size: 30px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

nav ul li a:hover {
  color: #eee;
  /* font-size: 35px; */
  /* border: 1px solid #000; */
  border-bottom: 5px solid rgb(45, 207, 31);
  transition: ease;
  animation-delay: 5s;
}
section{
    height: 600px;
    /* padding-top: 50px; */

}
/* main {
  width: 1000px;
  margin: 0 auto;
} */
.conteudo {
  width: 1000px;
  margin: 0 auto;
  display: flex;
}
.section-colorida{
    background-color: #ddd;

}
.conteudo-estudar {
    /* display: table; */
  /* height: 500px; */
  /* padding: 100px; */
  /* vertical-align:middle ; */
  display: flex; 
  /* width: 1000px; */
}
.conteudo-coluna {
  width: 50%;
}

#home {

    margin-bottom: 90px;
  /* background-color: #89cea0; */
  /* padding: 200px 0; */
  /* height: 500px; */
  /* transition: 0.5s cubic-bezier(); */
}
#home div {
  width: 50%;
  padding: 25px;
}

#home div h1 {
  font-size: 90px;
}
#home img {
  height: 500px;
  width: 500px;
}
