.sobre {
    background-color: rgb(30, 63, 172);
    height: 100vh;
  }
  .sobre-conteudo {
    padding-top: 100px;
    width: 80%;
    margin:  0 auto;
  }


.sobre-texto {
  text-align: center;
  width: 50%;
  background-color: green;

  /* background-color: red; */
}
.sobre-texto h1 {
  /* text-transform: capitalize; */
  font-weight: 400;
  font-size: 60px;
  margin-top: 30vh;
}
.sobre-texto h1 span {
  color: rgba(209, 69, 34, 0.911);
}
.sobre-texto h1 span:hover {
    color: rgba(209, 69, 34, 0.164);
     
}
.sobre-texto   {
  display: flex;
  justify-content: center;
}
.sobre-imagem {
  width: 50%;
  /* background-color: green; */
  /* height: 50px; */
}
.sobre-imagem img {
  height: 80vh;
}

.sobre-imagem img:hover {
    transition: ease-in-out 0.8s;
    transform: scale(1.1);
  }